@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container {
  display: contents;
}

@media screen and (max-width: 1199.5px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .logo-bottom {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-bottom {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo {
  font-family: Raleway, cursive;
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-first {
  color: #2196f3;
}

.logo .logo-second {
  color: #212121;
}

.logo-bottom .logo-third {
  color: #ffffff;
}

.logo-bottom {
  font-family: Raleway, cursive;
  display: inline-block;
  margin-bottom: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

@media screen and (max-width: 767.5px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    margin-left: auto;
  }
  .menu-svg {
    width: 20px;
    height: 20px;
  }
  .menu-svg:hover,
  .menu-svg:focus {
    fill: #2196f3;
  }
  .menu-button .menu-close {
    display: none;
  }
  .menu-button.is-open .menu-close {
    display: block;
  }
  .menu-button .menu-open {
    display: block;
  }
  .menu-button.is-open .menu-open {
    display: none;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 20px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767.5px) {
  .navigation-wrap {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .item-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .current {
    color: #2196f3;
    padding-bottom: 8px;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
  }
  .item-link:hover,
  .item-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .navigation-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list .item-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navigation-list .item-link:hover,
  .navigation-list .item-link:focus {
    color: #2196f3;
  }
  .navigation-list .item-link.current {
    color: #2196f3;
  }
}

@media screen and (max-width: 767.5px) {
  .address {
    margin: 0 auto;
    text-align: center;
  }
  .address-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
  }
  .address-link-icon {
    width: 20px;
    height: 20px;
    fill: #757575;
  }
  .address-link:not(:last-child) {
    margin-bottom: 40px;
  }
  .address-link:hover .address-link-icon,
  .address-link:focus .address-link-icon {
    fill: #2196f3;
  }
  .address-link:hover,
  .address-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .address-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: #ffffff;
  }
  .address-link:first-child {
    margin-bottom: 10px;
  }
  .address-link:hover .address-link-icon,
  .address-link:focus .address-link-icon {
    fill: #2196f3;
  }
  .address-link:hover, .address-link:focus {
    color: #2196f3;
  }
  .address-link-icon {
    width: 20px;
    height: 20px;
    fill: #757575;
    margin-right: 10px;
  }
  .address-link .tel {
    width: 12.5px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .address-link:first-child {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767.5px) {
  .main {
    padding-top: 80px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .main {
    padding-top: 100px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 80px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199.5px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.37;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bacground/hero.jpg);
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bacground/hero.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 120px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #2196f3;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .button-container {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .button-container {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 1199.5px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
  .form-title {
    font-size: 20px;
    line-height: 1.5;
  }
  .form-label-agreement-text {
    font-size: 12px;
    line-height: 1.16;
  }
  .form-label-agreement-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
  .form-title {
    font-size: 20px;
    line-height: 1.15;
  }
  .form-label-agreement-text {
    font-size: 14px;
    line-height: 1.71;
  }
  .form-label-agreement-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-label {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  z-index: 5;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 300ms linear 0.7s;
  transition: 300ms linear 0.7s;
}

.is-hidden .modal {
  top: -100%;
  -webkit-transform: translateX(-50%) scale(0.1);
          transform: translateX(-50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  width: 100%;
  padding: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.white-bg {
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #2196f3;
}

.form-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: inline-block;
  margin-bottom: 4px;
}

.input {
  max-width: 448px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  top: 47%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: black;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  margin-bottom: 20px;
}

.textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label-textarea {
  resize: none;
  max-width: 448px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-label-checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
}

.form-label-checkbox span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-image: url();
  margin-right: 9px;
  vertical-align: middle;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input-checkbox:checked + span::before {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width=%0A'0.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-label-agreement-text {
  letter-spacing: 0.03em;
}

.form-label-agreement-link {
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.option {
  display: block;
  outline-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.option:focus + .input-icon, .option:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 1199.5px) {
  .section-title {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-title {
  font-weight: 700;
  text-align: center;
}

.features {
  padding-top: 94px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features-item:nth-child(2n) {
    margin-right: 0;
  }
  .features-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features-item:nth-child(4n) {
    margin-right: 0;
  }
  .features-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.features-title-1::before {
  content: "";
  display: block;
  background-image: url(../img/icon/Group.svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  max-width: 450px;
  max-height: 120px;
  width: 100%;
  height: 120px;
}

.features-title-2::before {
  content: "";
  display: block;
  background-image: url(../img/icon/clock.svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  max-width: 450px;
  max-height: 120px;
  width: 100%;
  height: 120px;
}

.features-title-3::before {
  content: "";
  display: block;
  background-image: url(../img/icon/diagram.svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  max-width: 450px;
  max-height: 120px;
  width: 100%;
  height: 120px;
}

.features-title-4::before {
  content: "";
  display: block;
  background-image: url(../img/icon/astronaut.svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  max-width: 450px;
  max-height: 120px;
  width: 100%;
  height: 120px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199.5px) {
  .employment {
    display: none;
  }
}

.employment {
  background-color: #ffffff;
}

.employment .section-title {
  margin-bottom: 50px;
}

.employment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.employment-list-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.employment-list-item:nth-child(3n) {
  margin-right: 0;
}

.employment-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-thumb {
  position: relative;
}

.item-thumb > .item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 767.5px) {
  .team-item {
    max-width: 450px;
    max-height: 622px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .team-item img {
    max-width: 450px;
    max-height: 460px;
    width: 100%;
    height: 100%;
  }
  .team-content {
    max-width: 450px;
    width: 100%;
    height: 162px;
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .team-item img {
    max-width: 354px;
    max-height: 374px;
    width: 100%;
    height: 100%;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .team-content {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .team-item:nth-child(4n) {
    margin-right: 0;
  }
  .team-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .team-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team .section-title {
  margin-bottom: 50px;
  margin-top: 0;
}

.team-item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-socialnetworks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-item:not(:last-child) {
  margin-right: 10px;
}

.list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
}

.list-item-link:hover, .list-item-link:focus {
  background-color: #2196f3;
}

.list-item-link:hover .list-item-icon,
.list-item-link:focus .list-item-icon {
  fill: #ffffff;
}

.list-item-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

@media screen and (max-width: 1199.5px) {
  .clients-title {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-title {
  color: #212121;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.clients-list-item-link:hover, .clients-list-item-link:focus {
  border: 1px solid #2196f3;
}

.clients-list-item-link:hover .clients-list-item-icon,
.clients-list-item-link:focus .clients-list-item-icon {
  fill: #2196f3;
}

.clients-list-item-link .clients-list-item-icon {
  width: 80px;
  height: 50px;
  fill: #afb1b8;
}

@media screen and (max-width: 767.5px) {
  .clients-list-item-link {
    max-width: 210px;
    width: 100%;
    height: 90px;
  }
  .clients-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .clients-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .clients-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .clients-list-item-link {
    width: 226px;
    height: 90px;
  }
  .clients-list-item {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .clients-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .clients-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item-link {
    width: 170px;
    height: 90px;
  }
  .clients-list-item {
    width: calc((100% - 30px * 5) / 6);
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767.5px) {
  .footer {
    text-align: center;
  }
  .footer-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-address {
    padding-bottom: 60px;
  }
  .footer-networks {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer {
    text-align: center;
  }
  .footer-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-address {
    padding-bottom: 60px;
  }
  .footer-networks {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199.5px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .logo-bottom {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-bottom {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo {
  font-family: Raleway, cursive;
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-first {
  color: #2196f3;
}

.logo .logo-second {
  color: #212121;
}

.logo-bottom .logo-third {
  color: #ffffff;
}

.logo-bottom {
  font-family: Raleway, cursive;
  display: inline-block;
  margin-bottom: 20px;
}

.address-list-item:first-child {
  margin-bottom: 9px;
  color: #ffffff;
}

.address-list-item-link-1 {
  display: inline-block;
  margin-bottom: 9px;
}

.address-list-item-link-2 {
  display: inline-block;
}

.footer-address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.address-list-item-link-1,
.address-list-item-link-2 {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-networks {
    margin-left: 70px;
  }
}

.footer-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-networks-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-networks-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-networks-list-item-link-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-networks-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
}

.footer-networks-list-item-link:hover,
.footer-networks-list-item-link:focus {
  background-color: #2196f3;
}

.footer-networks-list-item-link:hover .footer-networks-list-item-link-icon,
.footer-networks-list-item-link:focus .footer-networks-list-item-link-icon {
  fill: #ffffff;
}

.mailing-container {
  margin-left: 90px;
}

.mailing-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.mailing-label-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-label-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-label-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-label-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-label-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-subscribe {
  max-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  outline-color: #2196f3;
  padding: 0 28px;
  margin-left: 10px;
}

.mailing-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.mailing-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  vertical-align: middle;
}

@media screen and (max-width: 1199.5px) {
  .mailing-container {
    margin: 0;
    max-width: 450px;
    width: 100%;
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .mailing-label-input {
    max-width: 450px;
    width: 100%;
  }
  .mailing-label {
    padding-bottom: 20px;
  }
  .mailing-subscribe {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-label-input {
    width: 350px;
  }
}
/*# sourceMappingURL=main.css.map */