@media screen and (max-width: 1199.5px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .logo-bottom {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-bottom {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo {
  font-family: Raleway, cursive;
  margin-right: 90px;
  display: flex;
  align-items: center;

  &-first {
    color: $accent-color;
  }

  & &-second {
    color: $title-text-color;
  }

  &-bottom &-third {
    color: $primary-white-color;
  }
}

.logo-bottom {
  font-family: Raleway, cursive;
  display: inline-block;
  margin-bottom: 20px;
}
