.logo {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 90px;
  
    &-first {
      color: $accent-color;
    }
  
    & &-second {
      color: $title-text-color;
    }
  
    &-bottom &-third {
      color: $primary-white-color;
    }
  }
  
 