$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$title-text-color: #212121;
$additional-color: rgba(255, 255, 255, 0.6);
$second-background: #2f303a;
$additional-background: #f5f4fa;
$social-color: #afb1b8;
