.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $primary-white-color;
  border: 1px solid #ececec;
}

.header .flexbox {
  display: flex;
  align-items: center;
}
.menu-container {
  display: contents;
}
