.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $primary-white-color;
    border-bottom: 2px solid #ececec;
  }

.header .flexbox {
    display: flex;
    align-items: center;
    }

  
